%% -*- mode: erlang -*-

{erl_opts, [
    fail_on_warning,
    warnings_as_errors,
    {parse_transform, lager_transform},
    {lager_truncation_size, 1024}
]}.

{deps, [
        {lager, "3.5.2"},
        {jsx, "2.8.3"},
        {cowboy, "2.1.0"},
        {sync, {git, "https://github.com/rustyio/sync.git","master"}},
        {cowdb, {git, "https://github.com/refuge/cowdb.git", "master"}}
]}.

{relx, [{release, { lunch, "0.0.1" }, [lunch, sasl]},
%        {sys_config, "./config/sys.config"},
%        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, true},
        {system_libs,true},
        {include_src, false},
        {extended_start_script, true}]
}.
